/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

*, table, th, .tribe-events-notices, input,label, .tribe-bar-views-select .tribe-no-param, .menu, .menuopen li {
font-family: "coronette",serif;
font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, .sf-menu, #search-outer  #search input[type=text] {
font-family: "metallophile-sp8";
font-weight: 400;
}

h1{
text-transform:uppercase;
}

h4,h5,h6, #tribe-events > *{
font-family: "coronette" !important;
font-weight: 300;
}

.weekly-classes__table{
font-family: "coronette",serif;
font-weight: 300;

}

p{
font-family: "marco",serif;
font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body a{
color: none !important;
}
.graf--p a{
color: red;
}


body[data-header-format="left-header"][data-header-resize="0"] .container-wrap{
padding-top: 50px;
}


*::selection {
  background: #ffb7b7;
}
*::-moz-selection {
  background: #ffb7b7;
}


h1.entry-title{
color: #261F17;
text-transform: initial;
}
/**
 * Fix left-header menubar layout
 */
@media only screen and (min-width: 1001px) {
  /* Menubar container */
  html body[data-header-format="left-header"] #header-outer .container {
    height: 100%;
    padding: 0;
  }

  /* Menubar container - inner container */
  html body[data-header-format="left-header"] #header-outer .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;
    overflow-y: auto;
  }
  html body[data-header-format="left-header"] #header-outer .row:before,
  html body[data-header-format="left-header"] #header-outer .row:after {
    content: none;
  }

  /* Logo */
  html body[data-header-format="left-header"] #header-outer .row .col.span_3 {
  }

.logo--desktop{
  min-height: 180px;
}
  /* Menu items */
  html body[data-header-format="left-header"] #header-outer .row .col.span_9 {
    position: static !important;
    top: 0 !important;
    bottom: 0 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: unset;
  }



  /* Menu items - inner navigation container */
  body[data-header-format="left-header"] #header-outer nav {
    padding: 0;
  }

  /* Menu items - submenu */
  body[data-header-format="left-header"] header#top .sf-menu li ul li a {
    font-family: "coronette",serif;
    border-bottom: 0;
  }

  /* Social Icons on menubar */
  body[data-header-format="left-header"] #header-outer .button_social_group {
    position: static !important;
    top: unset;
    bottom: unset;
/*    padding-top: 30px;
*/    line-height: 10px;
padding-bottom: 20px;
  }
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-textarea-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-textarea-placeholder { color:transparent; } /* IE 10+ */

/**
 * Menubar widgets (hidden on mobile)
 */
.menubar-widgets {
  display: none;
}

/**
 * Menubar widgets (desktop)
 */
@media (min-width: 1001px) {
  /* Menubar widgets for left header layout */
  body[data-header-format="left-header"] #header-outer .menubar-widgets {
    display: block;
  }

  /* Menubar links */
  body[data-header-format="left-header"] #header-outer .menubar-widgets a {
    color: #f3f3f3;
    transition: color 200ms ease;
  }

  /* Menubar links on hover */
  body[data-header-format="left-header"] #header-outer .menubar-widgets a:hover {
    color: #c54c24;
  }
}



/**
 * Fix writings archive spacing
 */
.archive .post-content--writings {
  padding-left: 0;
}


/**
 * Menu
 */

/* Menu Item */
html body[data-header-format="left-header"] #header-outer header#top nav >ul >li:not([class*="button_"]) >a >span {
  text-transform: uppercase;
}

/* Menu Item - has children */
html body[data-header-format="left-header"] #header-outer header#top nav >ul >li.menu-item-has-children:not([class*="button_"]) >a {
  position: relative;
  padding-right: 30px !important;
}

/* Menu Item - has children arrow */
html body[data-header-format="left-header"] #header-outer header#top nav >ul >li.menu-item-has-children:not([class*="button_"]) >a >span:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 8px;
  transform-origin: 75% 25%;
  transform: rotate(45deg) translateY(-1px);
  border: solid 1px #fff;
  border-left: 0;
  border-bottom: 0;
  vertical-align: middle;
  transition: transform 200ms ease;
}

/* Menu Item - has children arrow - open submenu */
html body[data-header-format="left-header"] #header-outer header#top nav >ul >li.menu-item-has-children.open-submenu:not([class*="button_"]) >a >span:after {
  transform: rotate(135deg) translateY(-1px);
}


/**
 * Writings archive items
 */

/* Writings archive items - post content */
.post-content--writings-archive {
  padding: 12px 0 15px;
  border-bottom: 1px solid #ddd;
}

/* Writings archive items - post meta */
.post-content--writings-archive .post-meta {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "coronette",serif;
  font-weight: 300;

}

/* Writings archive items - post image */
.post-content--writings-archive .post-featured-image .post-featured-img img {
  margin-bottom: 0;
}

/**
 * Writings archive items (desktop)
 */
@media (min-width: 1001px) {
  
  /* Writings archive items - post content */
  .post-content--writings-archive {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* Writings archive items - post header */
  .post-content--writings-archive .post-header {
    order: 1;
    flex-grow: 1;
    margin-bottom: 0;
  }

  /* Writings archive items - post image */
  .post-content--writings-archive .post-featured-image {
    flex-shrink: 0;
    display: inline-block;
    order: 2;
    margin-top: 5px;
    margin-left: 20px;
    width: 24% !important;
    height: auto !important;
    line-height: 0;
  }
}


/**
 * Recent Posts Writings
 */

/* Recent Posts Writings - column */
.recent-writings-post[data-style="minimal-custom"] .col {
  margin-bottom: 5px;
}

/* Recent Posts Writings - post meta */
.recent-writings-post[data-style="minimal-custom"] .post-meta {
  font-size: 11px;
  text-transform: uppercase;
}

.meta-publisher:not(:first-child) {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #DDD;
}

.single .meta-publisher:not(:first-child) {
  margin-left: 0;
}



/**
 * Weekly Classes
 */

 html .textwidget{
  padding-top: 10px;
 }

.weekly-classes__table,
.weekly-classes__table td.weekly-classes__day,
.weekly-classes__table td.weekly-classes__value {
  padding: 0px 0 !important;
  border-width: 0 !important;
}

.weekly-classes__table,
.weekly-classes__table tr {
  background-color: transparent !important;
}

.weekly-classes__table td.weekly-classes__day span {
  display: block;
  padding: 2px 5px !important;
  width: 100%;
  text-align: center;
  font-weight: 400;
  background-color: #261F17 !important;
  color: #fff !important;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: .1rem;
  padding: 1px 0;
}

.weekly-classes__table td.weekly-classes__value {
  padding: 0 5px 0 10px !important;
}

.weekly-classes__table td.weekly-classes__value span:first-child {
  color: #000;
}

html .weekly-classes__day{
padding: 20px !important;
}

.weekly-classes__value{
line-height: 30px;
}

h2.title{
font-size: 32px;
line-height: 38px !important;
letter-spacing: -0.5px;
}

/**
 * Articles Page
 */
.single-writings #ajax-content-wrap .main-content, .yoga_workshops-template-default #ajax-content-wrap .main-content, #author-bio{
max-width: 860px;
margin: 0 auto;
}

.single-writings .container-wrap, .yoga_workshops-template-default .container-wrap,{
  background-color: #FFFFFF !important;

}

.single-writings,  .yoga_workshops-template-default{
background: #ffffff !important;
}



body{
  background: url(../../uploads/2017/11/background-1.jpg) top left;
}

.container-wrap{
  background-color: transparent !important;
}

#header-outer[data-format="left-header"]{
  background-color: #261F17;
}

@media (min-width: 1001px) {
  #header-outer[data-format="left-header"]{
  border-right: none;
  background-color: transparent !important;
  background: url(../../uploads/2017/11/menu-4.png) top right no-repeat;
  width: 285px;
  }
}


.page-title-bar{
border-image-source: url(../../uploads/2017/11/page-title-bar-border.svg) !important;

border-image-slice: 8 !important;
border-image-width: 4 !important;
border-image-outset: 3 !important;
border-image-repeat: round;
border-width: 1px;
border: solid;

}
.page-title-bar h1{
padding-left: 3%;
letter-spacing: .15rem;
}

.entry-title {
font-size: 46px !important;
line-height: 54px !important; 
}

.widget .widget-title{
color: #FFFFFF;
padding-left: 12px;
font-size: 30px;
letter-spacing: .10rem;
line-height: initial;
}

/*#sidebar .widget:nth-of-type(1) .widget-title{
border-image-source: url(../../uploads/2017/11/page-title-bar-border-tan.svg) !important;
background: url(../../uploads/2017/11/sanskrit-tan.jpg);

border-image-slice: 8 !important;
border-image-width: 2 !important;
border-image-outset: 2 !important;
border-image-repeat: round;
border-width: 1px;
border: solid;
background-color: gray;
text-transform: uppercase;
}*/

#sidebar .widget .widget-title{
border-image-source: url(../../uploads/2017/11/page-title-bar-border-red.svg) !important;
background: url(../../uploads/2017/11/sanskrit.jpg);

border-image-slice: 8 !important;
border-image-width: 2 !important;
border-image-outset: 2 !important;
border-image-repeat: round;
border-width: 1px;
border: solid;
background-color: gray;
text-transform: uppercase;
text-align: left;
}


#sidebar .widget_text h4:nth-of-type(1){
border-image-source: url(../../uploads/2017/11/page-title-bar-border-red.svg) !important;
background: url(../../uploads/2017/11/sanskrit.jpg);

border-image-slice: 8 !important;
border-image-width: 2 !important;
border-image-outset: 2 !important;
border-image-repeat: round;
border-width: 1px;
border: solid;
background-color: gray;
text-transform: uppercase;
color: #FFFFFF;
padding-left: 12px;
font-size: 30px;
letter-spacing: .10rem;
line-height: initial;
font-family: "metallophile-sp8" !important;
text-align: left;

}

#sidebar .widget_text:nth-of-type(2) h4{
border-image-source: url(../../uploads/2017/11/page-title-bar-border-red.svg) !important;
background: url(../../uploads/2017/11/sanskrit.jpg);

border-image-slice: 8 !important;
border-image-width: 2 !important;
border-image-outset: 2 !important;
border-image-repeat: round;
border-width: 1px;
border: solid;
background-color: gray;
text-transform: uppercase;
text-align: left;

}

#sidebar >div{
margin-bottom: 0 !important;
}


.widget .recent-writings-post{
padding-top: 12px;r
}

#single-meta{
display: none;
visibility: hidden;
}

.single .heading-title{
padding: 0;
margin: 0;
border-bottom:none;
}

#single-below-header{
font-family: "coronette", serif;
font-weight: 300;
padding: 4% 0;
}

#single-below-header span{
text-transform: uppercase !important;
font-size: 14px !important;
color: #261F17 !important;
}

.recent-writings-post[data-style="minimal-custom"] .post-meta, .class-type-yoga, .rpwe-time
{
font-size: 13px !important;
line-height: 14px;
font-family: "coronette", serif;
font-weight: 300;
padding-bottom: 5px;
text-transform: uppercase;
text-align: left;
}

.rpwe-time{
color: inherit !important;
}
/*.vc_col-sm-8 .has-excerpt-area, .vc_col-sm-8  .meta-author, .vc_col-sm-8 .meta-category, .vc_col-sm-8 .meta-comment-count{
display: none;
visibility: hidden;
}
*/
.blog-recent img{
margin-bottom: 0 !important;
}


.blog-recent .title{
}


.vc_col-sm-4 .post-header h3, #sidebar .rpwe-title{
font-size: 21px !important;
line-height: 32px;
font-family: "marco",serif;
font-weight: 300;
text-transform: initial;
text-align: left;
}

html .blog-recent[data-style="default"] .col .post-header h3{
font-size: 32px;
line-height: 38px;
}


.recent-writings-post .col{
padding-bottom: 14px;
}

.tribe-events-calendar th,.tribe-events-calendar td {
font-family: "coronette", serif !important;
font-weight: 300;
}

.post-content--writings-archive{
/*border-bottom: 1px solid #261F17;
*/}

body[data-form-style="minimal"] .minimal-form-input{
padding-top: 0;
}


#mailing-list-box ul{
list-style: none; 
padding-bottom: 50px;
margin: 0;

}

#mailing-list-box ul li{
list-style: none; 
text-decoration: none;
border-bottom: none !important;
}

#mailing-list-box button {
float: right;
height: 3rem;   
padding: 0 1.2rem;
border: none;
border-radius: 0;
text-transform: uppercase;
color: white;
font-weight: 700;
cursor: pointer;
font-family: "coronette", serif !important;

}

#mailing-list-box .inputbox { 
overflow: hidden;
background-color: #ffffff;
}

#mailing-list-box .inputbox input{
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
height: 3rem;
border:none;
outline:none;
padding-left: 1rem !important;
/*padding-top: 0px !important;
*/border-radius: 0;
color: black;
font-family: "coronette", serif !important;
font-weight: 300;
background-color: transparent !important;

}

.minimal-form-input{
height: 3rem !important;
}

html body[data-form-style="minimal"] #mailing-list-box input[type="email"], .filled{
padding-bottom: 0px!important;
box-shadow: 0px !important;
}

body[data-form-style="minimal"] #mailing-list-box .minimal-form-input label:before, body[data-form-style="minimal"] .minimal-form-input label:after{
border-bottom:none;
}

body[data-form-style="minimal"] #mailing-list-box .minimal-form-input label span.text{
margin-top: 0;
transform:translateY(0) !important;
-webkit-transform:translateY(0) !important;
top:0;
left: 14px;
}

#footer-outer{
background: url(../../uploads/2017/12/sanskrit-bg-footre.jpg) center center;
}

#footer-outer .widget{
margin-bottom: 0;
}


.instagram-feed h4{
color: white !important;
}

.sbi_item{
padding-right: 12px !important;
padding-bottom: 12px;
}

.textwidget{
padding-top: 0;
}

.textwidget #getonthelist{
font-family: "metallophile-sp8";
color: white;
text-transform: uppercase;
font-size: 46px;
padding-left: 1%;

border-image-source: url(../../uploads/2017/11/page-title-bar-border.svg) !important;
background: url(../../uploads/2017/11/page-title-bar-background-pattern.jpg);

border-image-slice: 8 !important;
border-image-width: 4 !important;
border-image-outset: 3 !important;
border-image-repeat: round;
border-width: 1px;
border: solid;
line-height: 3.4rem;
text-align: left;
}

#search-outer  #search input[type=text]{
text-transform: initial;
}
#copyright{
display: none;
visibility: hidden;
}

#custom-copyright{
text-align: right;
font-family: "coronette", serif !important;
font-weight: 300;
/*padding-top: 30px;
*/font-size: 14px;
line-height: 1.5;
}


#custom-copyright span{
color: rgba(255,255,255,.3);
}

html .tabbed[data-style="minimal"] .wpb_tabs_nav{
margin-bottom: 25px!important
}

.ui-tabs-nav{
font-family: "metallophile-sp8";
color: inherit;
}

html .tabbed[data-style="minimal"] >ul li:not(.cta-button) a,  .tabbed[data-style="minimal"] >ul li:not(.cta-button) a.active-tab {
  color: #261F17 !important;
}

.gfield{
font-family: "coronette", serif !important;
font-weight: 300;

}

.gfield input, .gfield textarea{
background-color: white;
font-size: 18px;
}

.gform_wrapper .top_label input.medium{
width: 100% !important;
}

.gfield_label{
display: none !important;
visibility: hidden;
}

.active_texture {
    background-color: rgba(0,0,0,0.6);
    background-image: none !important;
}

.swiper-wrapper h2{
font-family: "metallophile-sp8"  !important;
font-weight: 300;

}


.single #post-area.span_12 #author-info{
width: inherit !important;
}

#author-bio{
margin-top: 30px !important;
}
#author-info{
max-width: 860px;
}

#author-info h3{
display: none;
}

#author-info p{
font-family: "coronette", serif !important;
font-weight: 300;
padding-top: 21px !important;
font-size: 14px;
line-height: 1.5;
color: rgba( 0,0,0,.3); !important
}

.sf-menu ul.sub-menu li:last-child{
margin-bottom: 14px !important;
}

html .homepage-bio h1{
text-align: center;
color: #261F16  !important;
}

p{
line-height: 34px;
}

#sidebar h3.title {
line-height: 32px !important;
}

.yoga-classes{
text-transform: uppercase;
}

pre{
padding: 16px 35px;
border: solid 3px white;
line-height: 10px;
margin-top: 30px !important;
text-transform: uppercase;
background-color: rgba(0,0,0,.4);
margin: 0 auto;
max-width: 80%;
font-family: "coronette", serif !important;
font-weight: 300;
font-size: 16px;
text-align: center;
}

pre a{
color: white !important;
}

#tab-yoga-bio p, #tab-writing-bio p{
color: #676767;
}

.yoga-read-more, #all-classes pre{

padding: 16px 35px;
border: solid 3px #261f17;
line-height: 10px;
text-transform: uppercase;
font-family: "coronette", serif !important;
font-weight: 300;
font-size: 16px;
text-align: left;
display: inline-block;
margin-top: 20px;
}

/*.yoga-read-more a{
color: #8a3828 !important;
padding: 10px;
}
*/
.tribe-events-calendar tr{
background-color: white;
}

.tribe-events-month-event-title a{
color: #88382C;
}

.label-tribe-bar-date, #tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title{
font-family: "coronette", serif !important;
font-weight: 300;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a{
background-color: #8a3828;
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]{
color: #8a3828 !important;
}

#workshops h1{
font-size: 4vw !important;
}

h4.entry-title{
color: inherit !important;
font-size: 30px;
}

.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-shortcode.view-week .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip{
padding: 1rem !important;
}

.tribe-events-calendar .tribe-events-tooltip{
line-height: auto;
}

h2.tribe-events-page-title{
text-align: left;
font-size: 54px;
padding-top: 20px;
color: #261F17 !important;
text-transform: uppercase;
}

.tribe-events-tooltip .entry-title{
font-size: 25px !important;
line-height: 32px !important;
color: #88382C !important;
}

.tribe-events-nav-previous a{
color: #261F17 !important;
}

h6{
background-color: white;
padding: 4px 4px;
color: black !important;
margin: 0 auto;
position: relative;
max-width: 60%;
margin-bottom:10px;
display: inline-block;
}

h3{
text-transform: uppercase;
}

.column_container .vc_col-sm-6 {
text-align: center !important;
}

.vc_col-sm-4 div.col.span_12.left .wpb_wrapper{
text-align: center;
}

.textwidget{
text-align: center;
}

#sidebar .rpwe-ul li{
text-align: left !important;
border-bottom: 0;
padding: 0;
margin: 0;
}

.tribe-events-single-event-title{
color: #261F17;
}

#mobile-menu{
background-color: #261F18;
font-family: "coronette", serif !important;
font-weight: 300;
}

#mobile-menu ul li a{
font-size: 24px;
}

#mobile-menu .sub-menu li a{
font-size: 18px;
}

#all-classes{
  margin: 0 !important;
padding-bottom: 30px;
text-align: center !important;
}

#all-classes p{
display: none;
visibility: hidden;
}

html #all-classes pre{
background-color: transparent;
margin-top: 10px !important;
}

html #all-classes pre a{
color: #261f17 !important;
}

html #all-classes h5{
border-top: solid thin #261f17 !important;
border-bottom: solid thin #261f17 !important;
color: #5B2419;
}

.weekly-classes__table{
margin-bottom: 0px !important;
}


.single #single-meta{
display:none;
visibility: hidden;
}

.row .col.section-title span:not(.share-count-total), html .single #single-below-header span:not(.share-count-total){
display: block;
visibility: visible;
}

